name: Vanillatmosphere build

on:
  schedule:
    - cron: '*/120 * * * *'
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: check
        uses: actions/checkout@v6

      - name: install python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: install requirements
        run: pip install -r requirement.txt

      - name: execute script
        run: |
          python vanillatmosphere.py
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}

      - name: upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact-syspatches
          path: artifact
